# MongoDB kapcsolati string – Atlas-on: Connect → Drivers menüpont
MONGO_URI=mongodb+srv://<felhasználónév>:<jelszó>@<cluster>.mongodb.net/?appName=<appnév>

# Backend port
PORT=5001

# JWT titkos kulcs – bármilyen hosszú véletlenszerű string
JWT_SECRET=ide_irj_egy_tetszoleges_hosszu_titkos_kulcsot